@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


:root{
	--primary-color:#f5e050;
	--dark-grey:#28334AFF;
}

body{
	font-family: 'Montserrat',sans-serif;
	margin: 0px;
	width: 100%;
    height: 100%;
   
}

.container{
	padding: 0rem 1rem;
    line-height: 2rem;
   
}

.container-center{
	max-width: 650px;
    margin: auto;
    
}

.link{
	text-decoration: none;
	padding: 0.5rem 1.7rem;
    margin: 0.1rem;
   
}

.link-primary{
	font-size: large;
	background-color: var(--primary-color);
	color: #28334AFF;
	border: 0.2rem solid var(--primary-color);
	font-weight: 580;
	margin-top: 1rem;
    
}

.navigation{
	background-color: var(--primary-color);
	padding: 1rem 0.5rem;
	color: white;
	border-bottom-left-radius: 1rem; 
    border-bottom-right-radius: 1rem; 

}

.navigation .nav-logo{
	font-size: x-large;
	font-weight: 600;
	margin: 0rem 2rem;
	color: #28334AFF;
    
}

textarea{
	font-size: 1.5rem;
	margin: 2rem;
	padding: 1rem;
	width: 350px;
	height: 200px;
	border: 2px solid var(--dark-grey);
	color: var(--dark-grey);
	margin-top: 1.5rem;
}

#divOut{
	font-size: 1.5rem;
    margin: 2rem;
    padding: 1rem;
    width: 350px;
    height: 200px;
    border: 2px solid var(--dark-grey);
	color:;
	text-align: center;
	margin-top: 1rem;
}

.footer{
	background-color: var(--primary-color);
    padding: 2rem 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
	width: 100%;
	margin: 1rem rem;
	margin-top: 3rem;
    margin-bottom: 0rem;
    align-items: center;
	text-align: center;
	padding-inline-start: 0px;
	
}
